@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500;700&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";


$primary : hsl(0, 0%, 8%);

$font-family-sans-serif : 'Epilogue', sans-serif;

$border-radius : 1rem;

$btn-padding-x :1.5rem;
$btn-padding-y : .5rem;
$btn-margin-e : 2rem;

$btn-padding-y-lg : 0.75rem;
$btn-padding-x-lg : 1.5rem;


$navbar-padding-y: 2rem;
$navbar-nav-link-padding-x: 1rem;



@import "bootstrap/scss/bootstrap";